#right-form {
	gap:10px;
	padding-right: 6px;
}

.table tr>.th-detail, .table tr>.th-edit, .table tr>.th-delete {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	max-width: 100px;
	width: 100px;
}

table {
	table-layout: fixed;
}

#modal-body-detail {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.detail-title {
	background: var(--bg-dark);
	color: #FFFFFF;
	border-radius: 20px;
	padding: 5px 20px;
	margin-bottom: 15px;
}

.copy {
	margin-right: 20px;
	min-width: 74px;
}

.detail-value {
	vertical-align: middle;
	margin-right: 20px;
	margin-left: 20px;
	line-break: anywhere;
}

#copy-msg {
    display: none;
    position: fixed;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: #000000D6;
    color: #FFFFFF;
    top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    border-radius: 20px;
}

.form-group {
	margin-bottom: 15px;
}

.col-form-label {
	font-weight: bold;
}

#copyText {
	height: 0 !important;
	width: 0;
	color: transparent;
	background-color: none;
	border-color: transparent;
	outline: none;
	resize: none;
	overflow: hidden;
}

#copyText::selection {
	color: transparent;
	background-color: none;
}